
  .container {
    min-height: 70vh;
    width: 768px;
    margin: 5vh auto 10vh;
  }
  .container .row-product{
    display: flex;
    flex-wrap: wrap;
  }
  .container .row-product h1{
    width: 100%;
    margin-bottom: 25px;
  }
  .container .row-product img{
    margin-right: 30px;
    height: 400px;
    width: auto;
  }
  .container .row-product .content-info{

  }
  .container .row-product .content-info .title{
    font-size: 20px;
    color: #251705;
    margin-bottom: 15px;
  }  
  .container .row-product .content-info .price{
    color: green;
    font-size: 20px;
    margin-bottom: 25px;
  } 
  .container .row-product .content-info .price-discount{
    color: red;
    font-size: 16px;
    text-decoration-line: line-through;
    margin-bottom: 10px;
}   
.container .row-product .content-info .percentage {
    font-size: 14px;
    margin-bottom: 25px;
  }
  .container .row-product .content-info .discount{
    color: green;
    font-size: 20px; 
    margin-bottom: 5px;
  }
  .container .row-product .content-info .btn-add{
    background: #251705;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    width: fit-content;
    margin-bottom: 35px;
  }
  .container .row-product .content-info .btn-add:hover{
    cursor: pointer;
  }  
  .container .row-product .content-info .description{
    font-size: 16px;
  }    
  .container .row-product .content-info .description h2{
    margin-bottom: 0;
  }
  .container .cart{
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 1000;
    right: 0;
    top: 100px;
    background: #77490d;
    padding: 10px 20px;
    border-radius: 5px 0px 0px 5px;
    text-decoration: none;
  }  
  .container .cart:hover{
    text-decoration: none;
  }  
  .container .cart img{
    width: 25px;
    height: auto;
    margin-right: 5px;
  } 
  .container .cart .number{
    color: white;
    font-size: 20px;
    margin: 0;
  } 
  .container .list-products {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 35px;
  }
  .container .list-products h1{
    width: 100%;
    margin-bottom: 25px;
  }
  .container .list-products .product{
    width: 31%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 1% 25px;
  }
  .container .list-products .product img{
    margin-bottom: 10px;
    width: 90%;
    margin: 0 5%;
  }
  .container .list-products .product img:hover{
    cursor: pointer;
  }
  .container .list-products .product .title{
    font-size: 16px;
    color: #251705;
    margin-bottom: 10px;
  }  
  .container .list-products .product .price{
    color: green;
    font-size: 20px;
    margin-bottom: 5px;
  } 
  .container .list-products .product .price-discount{
    color: red;
    font-size: 16px;
    text-decoration-line: line-through;
  }
  .container .list-products .product .discount{
    color: green;
    font-size: 20px; 
    margin-bottom: 10px;
  }  
  .container .list-products .product .btn-add{
    background: #251705;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: 500;
  }
  .container .list-products .product .btn-add:hover{
      cursor: pointer;
  }  
  .container .message {
    width: 95%;
    margin: 1vh auto;
    padding: 10px 2.5%;
    color: #155724;
    background-color: #d4edda;
  }
  .container .error-message {
    color: #721c24;
    background-color: #f5c6cb;
  }

  @media (max-width: 991px) {
    .container {
      width: 90%;
    }
    .container .list-products .product{
      width: 29%;
      margin: 0 1% 25px;
      padding: 20px 1%;
    }
  }

  @media (max-width: 768px) {
  }
  
  @media (max-width: 600px) {
    .container .row-product{
      flex-direction: column;
      align-items: center;
    }
    .container .row-product .content-info{
      width: 100%;
      text-align: center;
    }
    .container .row-product .content-info .btn-add{
      margin: 0 auto 35px;
    }
    .container .row-product img{
      margin: 10px 0;
      height: 350px;
    }
    .container .list-products{
      justify-content: center;
    }
    .container .list-products .product{
      width: 43%;
      margin: 0 2% 25px;  
    }

  }

  @media (max-width: 400px) {
    .container .cart{
      top: 175px;
    }  
    .container .row-product img{
      height: 250px;
    }
  }