
<div class="container">

    <mat-card class="row-product">

        <h1>Detail Product</h1>

        <img src="assets/images/product.jpg" alt="image-product">

        <div class="content-info">

            <div class="title">{{ product.title }}</div>

            <div *ngIf="product.discount">
                <div class="discount">{{ product.price - (product.price * (product.discount/100)) | currency }}</div>
                <div class="price price-discount">{{ product.price | currency }}</div>
                <div class="percentage">Discount: {{ product.discount }}%</div>
            </div>

            <div *ngIf="!product.discount">
                <div class="price">{{ product.price | currency }}</div>
            </div>            

            <div (click)="addToCart(product)" class="btn-add">Add to cart</div>
            <div class="description"><h2>Description Product:</h2>{{ product.description }}</div>
        </div>

    </mat-card>

    <a routerLink="/cart" class="cart">
        <img src="assets/images/cart.png" alt="">
        <p class="number">{{ numItemsCart }}</p>
    </a>

    <mat-card class="list-products">

        <h1>Last Products</h1>

        <div *ngFor="let product of products" class="product">

            <a [routerLink]="['/product', product.id]">
                <img src="assets/images/product.jpg" alt="image-product">
            </a>

            <div class="title">{{ product.title }}</div>

            <div *ngIf="product.discount">
                <div class="discount">{{ product.price - (product.price * (product.discount/100)) | currency }}</div>
                <div class="price price-discount">{{ product.price | currency }}</div>
            </div>

            <div *ngIf="!product.discount">
                <div class="price">{{ product.price | currency }}</div>
            </div>

            <div (click)="addToCart(product)" class="btn-add">Add to cart</div>
        </div>

    </mat-card>    
    
    <div class="message" [ngClass]="{'error-message' : message.error}" *ngIf="message.content.length > 0">
        {{ message.content }}
    </div>
    
</div>
