<nav>
    <div class="content-nav">
        <a routerLink="/">
            <img src="assets/images/coconut.png" alt="">
            <p>Home</p>
        </a>
        <div class="menu">
            <a routerLink="/cart">Cart</a>
            <a routerLink="/crud">Crud</a>
        </div>
    </div>
</nav>