nav {
    background: #77490d;
    padding: 5px 5%;
}
nav .content-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
nav .content-nav a{
    display: flex;
    align-items: center;
    font-size: 16px;
    color: white;
    text-decoration: none;
    text-transform: capitalize;
}
nav .content-nav a img{
    width: 45px;
    height: auto;
    margin-right: 10px;
}
nav .content-nav a p{
    margin: 0;
}
nav .content-nav .menu{
    display: flex;
}
nav .content-nav .menu a:first-child{
    margin-right: 25px;
}
nav button {
    background: none;
    border: 0;
    font-size: 16px;
    color: white;
    text-decoration: none;
    text-transform: capitalize;
}
nav button:hover {
    cursor: pointer;
}