.container {
    min-height: 70vh;
    width: 1000px;
    margin: 10vh auto;
  }
  .container .row-btn {
    width: 100%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .container .row-btn .form {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .container .row-btn .form input {
    padding: 3px 0.25rem;
  }
  .container .row-btn .form .button {
    color: #fff;
    background-color: #251705;
    border-color: #251705;
    padding: 0.375rem 0.75rem;
    font-size: 16px;
    line-height: 1.5;
    border: 0;
    border-radius: 0.25rem;
    margin-left: 10px;
  }
  .container .row-btn .form .button:hover {
    cursor: pointer;
  }
  .container .row-btn a {
    color: #fff;
    background-color: #251705;
    border-color: #251705;
    padding: 0.375rem 0.75rem;
    margin-right: 5px;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 0.25rem;
    text-decoration: none;
  }
  .container table {
    width: 100%;
    margin: 5vh auto;
    border-spacing: 0;
  }
  .container table thead tr {
    background: #77490d;
    color: white;
  }
  .container table thead tr th {
    font-size: 15px;
    padding: 5px;
    font-weight: normal;
  }
  .container table tbody tr td {
    padding: 10px 5px;
    border-bottom: 1px solid #cece;
  }
  .container table tbody tr td span{
    font-weight: 600;
    display: none;
  }
  .container table tbody tr td a {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    padding: 0.375rem 0.75rem;
    margin-right: 5px;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 0.25rem;
    text-decoration: none;
  }
  .container table tbody tr td .button {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    padding: 0.375rem 0.75rem;
    font-size: 16px;
    border: 0;
    border-radius: 0.25rem;
  }
  .container table tbody tr td .button:hover {
    cursor: pointer;
  }
  .container .no-display{
    display: none;
  }
  .container .display{
    display: block;
  }
  .container .message {
    font-size: 16px;
    width: 95%;
    margin: 1vh auto;
    padding: 10px 2.5%;
    color: #155724;
    background-color: #d4edda;
  }
  .container .error-message {
    color: #721c24;
    background-color: #f5c6cb;
  }

  @media (max-width: 1100px) {
    .container {
      width: 90%;
    }
  }

  @media (max-width: 760px) {
    .container table thead tr th{
      display: none;
      font-size: 0;
    }
    .container table thead tr th:first-child{
      display: block;
    }
    .container table tbody tr:nth-child(odd){
      background: #ededed;
    }
    .container table tbody tr td{
      display: flex;
    }
    .container table tbody tr td span{
      display: block;
      margin-right: 10px;
    }
  }
  
  @media (max-width: 600px) {
    .container .row-btn {
      flex-direction: column;
      align-items: baseline;
    }
    .container .row-btn a{
      margin-top: 20px;
    }
  }