
<mat-card class="container">

    <div class="row-btn">
        <div class="form" [formGroup]="formSearch">
            <mat-form-field>
                <input type="text" matInput formControlName="product" placeholder="Search Product">
            </mat-form-field>
            <button (click)="searchProducts()" class="button">Search</button>
            <button *ngIf="filter" (click)="getAll()" class="button">Get All</button>
        </div>       
        <a [routerLink]="['/create']">Create new</a>
    </div>
    
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Description</th>
                <th>Units</th>
                <th>Price</th>
                <th>Discount</th>
                <th>Discount inite date</th>                
                <th>Discount end date</th>
                <th>Actions</th>
            </tr>
        </thead>
    
        <tbody>
            <tr *ngFor="let product of products | paginate: { itemsPerPage: 3, currentPage: actualPage }">
                <td><span>ID:</span> {{ product.id }}</td>
                <td><span>Title:</span> {{ product.title }}</td>
                <td><span>Description:</span> {{ product.description }}</td>
                <td><span>Units:</span> {{ product.units }}</td>
                <td><span>Price:</span> {{ product.price | currency }}</td>

                <td *ngIf="product.discount"><span>Discount:</span> {{ product.discount }}%</td>
                <td *ngIf="!product.discount"><span>Discount:</span> No discount</td>

                <td *ngIf="product.discount_inite_date"><span>Discount inite date:</span> {{ product.discount_inite_date }}</td>
                <td *ngIf="!product.discount_inite_date"><span>Discount inite date:</span> No discount</td>

                <td *ngIf="product.discount_end_date"><span>Discount: Discount end date:</span> {{ product.discount_end_date }}</td>
                <td *ngIf="!product.discount_end_date"><span>Discount: Discount end date:</span> No discount</td>
                <td>
                    <span>Actions:</span>
                    <a [routerLink]="['/edit', product.id]">Edit</a>
                    <button (click)="delete(product.id)" class="button">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>

    <mat-card class="no-display" [ngClass]="{'display' : !products.length}">
        <h2>No results...</h2> 
    </mat-card>
 
    <pagination-controls (pageChange)="actualPage = $event"></pagination-controls>
    
    <div class="message" [ngClass]="{'error-message' : message.error}" *ngIf="message.content.length > 0">
        {{ message.content }}
    </div>
    
</mat-card>
