.container {
    min-height: 70vh;
    width: 768px;
    margin: 5vh auto 10vh;
  }
  .container .row-btn {
    width: 90%;
    margin: 20px auto 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 10px 5% 0px;
  }
  .container .row-btn .form {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .container .row-btn .form input {
    padding: 3px 0.25rem;
  }
  .container .row-btn .form .button {
    color: #fff;
    background-color: #251705;
    border-color: #251705;
    padding: 0.275rem 0.75rem;
    font-size: 16px;
    line-height: 1.5;
    border: 0;
    border-radius: 0.25rem;
    margin-left: 10px;
  }
  .container .row-btn .form .button:hover {
    cursor: pointer;
  }
  .container .row-btn a {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    padding: 0.375rem 0.75rem;
    margin-right: 5px;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 0.25rem;
    text-decoration: none;
  }
  .container .list-products {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .container .list-products .no-display{
    display: none;
  }
  .container .list-products .display{
    display: block;
  }
  .container .list-products .product{
    width: 27%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 1% 25px;
  }
  .container .list-products .product img{
    margin-bottom: 10px;
    width: 100%;
  }
  .container .list-products .product img:hover{
    cursor: pointer;
  }
  .container .list-products .product .title{
    font-size: 16px;
    color: #251705;
    margin-bottom: 10px;
  }  
  .container .list-products .product .price{
    color: green;
    font-size: 20px;
    margin-bottom: 5px;
  } 
  .container .list-products .product .price-discount{
    color: red;
    font-size: 16px;
    text-decoration-line: line-through;
  }
  .container .list-products .product .discount{
    color: green;
    font-size: 20px; 
    margin-bottom: 10px;
  }  
  .container .list-products .product .btn-add{
    background: #251705;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: 500;
  }
  .container .list-products .product .btn-add:hover{
      cursor: pointer;
  }
  .container .cart{
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 1000;
    right: 0;
    top: 100px;
    background: #77490d;
    padding: 10px 20px;
    border-radius: 5px 0px 0px 5px;
    text-decoration: none;
  }  
  .container .cart:hover{
    text-decoration: none;
  }  
  .container .cart img{
    width: 25px;
    height: auto;
    margin-right: 5px;
  } 
  .container .cart .number{
    color: white;
    font-size: 20px;
    margin: 0;
  } 
  .container table {
    width: 100%;
    margin: 5vh auto;
    border-spacing: 0;
  }
  .container table thead tr {
    background: #094e80;
    color: white;
  }
  .container table thead tr th {
    font-size: 15px;
    padding: 5px;
    font-weight: normal;
  }
  .container table tbody tr td {
    padding: 10px 5px;
    border-bottom: 1px solid #cece;
  }
  .container table tbody tr td a {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    padding: 0.375rem 0.75rem;
    margin-right: 5px;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 0.25rem;
    text-decoration: none;
  }
  .container table tbody tr td .button {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    padding: 0.375rem 0.75rem;
    font-size: 16px;
    border: 0;
    border-radius: 0.25rem;
  }
  .container table tbody tr td .button:hover {
    cursor: pointer;
  }
  .container .message {
    font-size: 16px;
    width: 95%;
    margin: 1vh auto;
    padding: 10px 2.5%;
    color: #155724;
    background-color: #d4edda;
  }
  .container .error-message {
    color: #721c24;
    background-color: #f5c6cb;
  }

  @media (max-width: 991px) {
    .container {
      width: 90%;
    }
    .container .list-products .product{
      width: 29%;
      margin: 0 1% 25px;
      padding: 20px 1%;
    }
  }

  @media (max-width: 768px) {

  }

  @media (max-width: 600px) {
    .container .list-products .product {
      width: 43%;
      margin: 0 2% 25px;     
    }
  }

  @media (max-width: 400px) {
    .container .cart{
      top: 175px;
    }  
  }