
<div class="container">

    <div class="row-btn">
        <div class="form" [formGroup]="formSearch">
            <mat-form-field>
                <input type="text" matInput formControlName="product" placeholder="Search Product">
            </mat-form-field>
            <button (click)="searchProducts()" class="button">Search</button>
            <button *ngIf="filter" (click)="getAll()" class="button">Get All</button>
        </div>       
    </div>
    
    <div class="list-products">

        <mat-card class="no-display" [ngClass]="{'display' : !products.length}">
            <h2>No results...</h2>
        </mat-card>

        <mat-card *ngFor="let product of products | paginate: { itemsPerPage: 6, currentPage: actualPage }" class="product">

            <a [routerLink]="['/product', product.id]">
                <img src="assets/images/product.jpg" alt="image-product">
            </a>

            <div class="title">{{ product.title }}</div>

            <div *ngIf="product.discount">
                <div class="discount">{{ product.price - (product.price * (product.discount/100)) | currency }}</div>
                <div class="price price-discount">{{ product.price | currency }}</div>
            </div>

            <div *ngIf="!product.discount">
                <div class="price">{{ product.price | currency }}</div>
            </div>

            <div (click)="addToCart(product)" class="btn-add">Add to cart</div>
        </mat-card>

    </div>

    <pagination-controls (pageChange)="actualPage = $event"></pagination-controls>

    <a routerLink="/cart" class="cart">
        <img src="assets/images/cart.png" alt="">
        <p class="number">{{ numItemsCart }}</p>
    </a>
    
    <div class="message" [ngClass]="{'error-message' : message.error}" *ngIf="message.content.length > 0">
        {{ message.content }}
    </div>
    
</div>
