  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding: 10px 5%;
    background: #77490d;
  }
  nav .contact{
    margin-bottom: 15px;
    text-align: center;
  }
  nav a{
    font-size: 16px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    text-transform: capitalize;
  }
  nav p {
    font-size: 14px;
    color: white;
    margin: 0;
  }