<nav>
    <div class="contact">
        <p>aguitadecoco@email.com</p>
        <p>(+1) 561 948 1234</p>        
    </div>
    <p>Copyright 2021 by Aguita de coco</p>
    <p>All rights reserved</p>
</nav>