
<div class="container">

    <mat-card class="content-form">
        
        <h1>Create Order</h1>
    
        <form [formGroup]="formCreate" (ngSubmit)="purchase()">
    
            <mat-form-field class="row">
                <input type="text" matInput formControlName="name" placeholder="Full name">
                <div *ngIf="name.invalid && (name.dirty || name.touched)">
                    <mat-error *ngIf="name.errors.required">
                        Fullname is required
                    </mat-error>
                </div>   
            </mat-form-field>
    
            <mat-form-field class="row">
                <input type="number" min="0" max="25" matInput formControlName="identification" placeholder="identification">
                <div *ngIf="identification.invalid && (identification.dirty || identification.touched)">
                    <mat-error *ngIf="identification.errors.required">
                        Identification is required
                    </mat-error>
                </div>
            </mat-form-field>
            
            <mat-form-field class="row">
                <input type="email" matInput formControlName="email" placeholder="email">
                <div *ngIf="email.invalid && (email.dirty || email.touched)">
                    <mat-error *ngIf="email.errors.required">
                        Email is required
                    </mat-error>
                </div>
            </mat-form-field>
            
            <mat-form-field class="row">
                <input type="text" matInput formControlName="phone" placeholder="phone">
                <div *ngIf="phone.invalid && (phone.dirty || phone.touched)">
                    <mat-error *ngIf="phone.errors.required">
                        Phone is required
                    </mat-error>
                </div>
            </mat-form-field> 

            <mat-form-field class="row">
                <input type="text" matInput formControlName="address" placeholder="address">
                <div *ngIf="address.invalid && (address.dirty || address.touched)">
                    <mat-error *ngIf="address.errors.required">
                        Address is required
                    </mat-error>
                </div>
            </mat-form-field>             

            <mat-form-field class="row">
                <input type="text" matInput formControlName="extra" placeholder="Extra (optional)">
            </mat-form-field>

            <div class="resume">
                
                <h1>Purchase summary</h1>

                <table>
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th class="no-display">Description</th>
                            <th>Price</th>
                            <th>Discount</th>
                        </tr>
                    </thead>
                
                    <tbody>
                        <tr *ngFor="let product of products">
                            <td>{{ product.title }}</td>
                            <td class="no-display">{{ product.description }}</td>
            
                            <td *ngIf="product.discount">
                                <div class="discount">{{ product.price - (product.price * (product.discount/100)) | currency }}</div>
                                <div class="price price-discount">{{ product.price | currency }}</div>
                            </td>
            
                            <td *ngIf="!product.discount">
                                <div class="price">{{ product.price | currency }}</div>
                            </td>
            
                            <td *ngIf="product.discount">{{ product.discount }}%</td>
                            <td *ngIf="!product.discount">No discount</td>

                        </tr>
            
                        <tr class="footer">
                            <td>Total:</td>
                            <td></td>
                            <td>{{ total | currency }}</td>
                            <td class="no-display"></td>
                        </tr>            
                    </tbody>
                </table>

            </div>
    
            <div class="row row-btn">
                <a routerLink="/">Back to shop</a>
                <button class="button">Purchase</button>       
            </div>
        </form>
    
    </mat-card>
    
</div>

