.container {
    min-height: 70vh;
    width: 768px;
    margin: 10vh auto;
  }
  .container .content-form {
    margin: 5vh auto;
  }
  .container .content-form h1 {
    margin-bottom: 20px;
  }
  .container .content-form form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .container .content-form form .row {
    width: 45%;
    margin-bottom: 10px;
  }
  .container .content-form form .row input {
    width: 95%;
    padding: 3px 2.5%;
  }
  .container .content-form form .row select {
    width: 100%;
    padding: 3px 2.5%;
  }
  .container .content-form form .row button {
    color: #fff;
    background-color: #251705;
    border-color: #251705;
    height: 30px;
    padding: 0.375rem 0.75rem;
    font-size: 14px;
    border: 0;
    border-radius: 0.25rem;
  }
  .container .content-form form .row-btn {
    width: 100%;
    text-align: right;
  }
  .container .content-form form .row-btn a{
    margin-right: 15px;
    color: #fff;
    background-color: #251705;
    border-color: #251705;
    height: 30px;
    padding: 0.375rem 0.75rem;
    font-size: 14px;
    border: 0;
    border-radius: 0.25rem; 
    text-decoration: none;   
  }
  .container .content-form form .row-btn a:hover,
  .container .content-form form .row-btn .button:hover{
    text-decoration: none;  
    cursor: pointer; 
  }  
  .container .content-form form .resume{
    width: 100%;
  }

  .container table {
    width: 100%;
    margin: 5vh auto;
    border-spacing: 0;
  }
  .container table thead tr {
    background: #77490d;
    color: white;
  }
  .container table thead tr th {
    font-size: 15px;
    padding: 5px;
    font-weight: normal;
  }
  .container table tbody tr td {
    padding: 10px 5px;
    border-bottom: 1px solid #cece;
  }
  .container table tbody tr td .price{
    color: green;
    font-size: 16px;
    margin: 0;
  }
  .container table tbody tr td .price-discount{
    color: red;
    font-size: 14px;
    margin: 0;
    text-decoration-line: line-through;
  }
  .container table tbody tr td .discount{
    color: green;
    font-size: 16px; 
    margin: 0;
  } 
  .container table tbody tr td a {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    padding: 0.375rem 0.75rem;
    margin-right: 5px;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 0.25rem;
    text-decoration: none;
  }
  .container table tbody tr td .button {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    padding: 0.375rem 0.75rem;
    font-size: 16px;
    border: 0;
    border-radius: 0.25rem;
  }
  .container table tbody tr td .button:hover {
    cursor: pointer;
  }
  .container table tbody tr.empty{
    font-size: 18px;
  }
  .container table tbody tr.footer{
    background: #251705;
    color: white;
    font-size: 18px;
  }

  .container .content-form .message {
    font-size: 16px;
    width: 95%;
    margin: 1vh auto;
    padding: 10px 2.5%; 
    color: #155724;
    background-color: #d4edda;
  }
  .container .content-form .error-message {
    color: #721c24;
    background-color: #f5c6cb;
  }

  @media (max-width: 991px) {
    .container {
      width: 90%;
    }
  }

  @media (max-width: 600px) {
    .container .content-form form .row {
      width: 100%;
    }
    .container table thead tr th.no-display,
    .container table tbody tr td.no-display{
      display: none;
    } 
  }

  @media (max-width: 400px) {
  }