.container {
    min-height: 70vh;
    width: 768px;
    margin: 10vh auto;
  }
  .container .content-form {
    margin: 5vh auto;
  }
  .container .content-form h1 {
    margin-bottom: 20px;
  }
  .container .content-form form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .container .content-form form .row {
    width: 45%;
    margin-bottom: 10px;
  }
  .container .content-form form .row input {
    width: 95%;
    padding: 3px 2.5%;
  }
  .container .content-form form .row select {
    width: 100%;
    padding: 3px 2.5%;
  }
  .container .content-form form .row button {
    color: #fff;
    background-color: #251705;
    border-color: #251705;
    height: 30px;
    padding: 0.375rem 0.75rem;
    font-size: 14px;
    border: 0;
    border-radius: 0.25rem;
  }
  .container .content-form form .row-btn {
    width: 100%;
  }
  .container .content-form form .row-btn a{
    margin-left: 15px;
    color: #fff;
    background-color: #251705;
    border-color: #251705;
    height: 30px;
    padding: 0.375rem 0.75rem;
    font-size: 14px;
    border: 0;
    border-radius: 0.25rem; 
    text-decoration: none;   
  }
  .container .content-form form .row-btn a:hover{
    text-decoration: none;   
  }  
  .container .content-form .message {
    font-size: 16px;
    width: 95%;
    margin: 1vh auto;
    padding: 10px 2.5%; 
    color: #155724;
    background-color: #d4edda;
  }
  .container .content-form .error-message {
    color: #721c24;
    background-color: #f5c6cb;
  }

  @media (max-width: 991px) {
    .container {
      width: 90%;
    }
  }

  @media (max-width: 600px) {
    .container .content-form form .row {
      width: 100%;
    }
  }