
<div class="container">

    <mat-card class="content-form">
        
        <h1>Create product</h1>
    
        <form [formGroup]="formCreate" (ngSubmit)="create()">
    
            <mat-form-field class="row">
                <input type="text" matInput formControlName="title" placeholder="Title">
                <div *ngIf="title.invalid && (title.dirty || title.touched)">
                    <mat-error *ngIf="title.errors.required">
                        Title is required
                    </mat-error>
                </div>   
            </mat-form-field>
    
            <mat-form-field class="row">
                <input type="text" matInput formControlName="description" placeholder="Description">
                <div *ngIf="description.invalid && (description.dirty || description.touched)">
                    <mat-error *ngIf="description.errors.required">
                        Description is required
                    </mat-error>
                </div>
            </mat-form-field>
            
            <mat-form-field class="row">
                <input type="number" matInput formControlName="units" placeholder="Units">
                <div *ngIf="units.invalid && (units.dirty || units.touched)">
                    <mat-error *ngIf="units.errors.required">
                        Units is required
                    </mat-error>
                </div>
            </mat-form-field>
            
            <mat-form-field class="row">
                <input type="number" matInput formControlName="price" placeholder="Price">
                <div *ngIf="price.invalid && (price.dirty || price.touched)">
                    <mat-error *ngIf="price.errors.required">
                        Price is required
                    </mat-error>
                </div>
            </mat-form-field> 

            <mat-form-field class="row">
                <input type="number" min="0" max="100" matInput formControlName="discount" placeholder="Discount">
            </mat-form-field>    
            
            <mat-form-field class="row">
                <input type="date" matInput formControlName="discount_inite_date" placeholder="Discount inite date">
            </mat-form-field> 
            
            <mat-form-field class="row">
                <input type="date" matInput formControlName="discount_end_date" placeholder="Discount end date">
            </mat-form-field>
    
            <div class="row row-btn">
                <button>Create</button>
                <a routerLink="/crud">Back</a>        
            </div>
        </form>
    
        <div class="message" [ngClass]="{'error-message' : message.error}" *ngIf="message.content.length > 0">
            {{ message.content }}
        </div>
    
    </mat-card>
    
</div>

