.container {
    min-height: 70vh;
    width: 1000px;
    margin: 10vh auto;
  }
  .container .row-btn {
    width: 100%;
    margin: 20px auto 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 0;
  }
  .container .row-btn h1{
    font-size: 35px;
    margin-bottom: 0px;
  }
  .container .row-btn .button {
    color: #fff;
    background-color: #251705;
    border-color: #251705;
    padding: 0.275rem 0.75rem;
    font-size: 16px;
    line-height: 1.5;
    border: 0;
    border-radius: 0.25rem;
    margin-left: 10px;    
  }  
  .container .row-btn .button:hover {
    cursor: pointer;
  }
  .container table {
    width: 100%;
    margin: 5vh auto;
    border-spacing: 0;
  }
  .container table thead tr {
    background: #77490d;
    color: white;
  }
  .container table thead tr th {
    font-size: 15px;
    padding: 5px;
    font-weight: normal;
  }
  .container table tbody tr td {
    padding: 10px 5px;
    border-bottom: 1px solid #cece;
  }
  .container table tbody tr td .price{
    color: green;
    font-size: 16px;
    margin: 0;
  }
  .container table tbody tr td .price-discount{
    color: red;
    font-size: 14px;
    margin: 0;
    text-decoration-line: line-through;
  }
  .container table tbody tr td .discount{
    color: green;
    font-size: 16px; 
    margin: 0;
  } 
  .container table tbody tr td a {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    padding: 0.375rem 0.75rem;
    margin-right: 5px;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 0.25rem;
    text-decoration: none;
  }
  .container table tbody tr td .button {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    padding: 0.375rem 0.75rem;
    font-size: 16px;
    border: 0;
    border-radius: 0.25rem;
  }
  .container table tbody tr td .button:hover {
    cursor: pointer;
  }
  .container table tbody tr.empty{
    font-size: 18px;
  }
  .container table tbody tr.footer{
    background: #251705;
    color: white;
    font-size: 18px;
  }
  .container .row-btns{
    display: flex;
    justify-content: flex-end;
  }
  .container .row-btns a{
    color: #fff;
    background-color: #251705;
    border-color: #251705;
    padding: 0.375rem 0.75rem;
    font-size: 16px;
    border: 0;
    border-radius: 0.25rem;
    text-decoration: none;    
  }
  .container .row-btns a:hover{
    text-decoration: none;    
  }  
  .container .row-btns a:first-child{
    margin-right: 15px;
  }
  .container .message {
    font-size: 16px;
    width: 95%;
    margin: 1vh auto;
    padding: 10px 2.5%;
    color: #155724;
    background-color: #d4edda;
  }
  .container .error-message {
    color: #721c24;
    background-color: #f5c6cb;
  }

  @media (max-width: 1100px) {
    .container {
      width: 90%;
    }
  }

  @media (max-width: 600px) {
    .container table thead tr th.no-display,
    .container table tbody tr td.no-display{
      display: none;
    } 
  }