
<mat-card class="container">
  
    <div class="row-btn">
        <h1>Items cart!</h1>
        <button *ngIf="!emptyCart" (click)="empty()" class="button">Empty Cart</button>
    </div>

    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th class="no-display">Description</th>
                <th>Price</th>
                <th>Discount</th>
                <th>Actions</th>
            </tr>
        </thead>
    
        <tbody>
            <tr *ngIf="emptyCart" class="empty"><td>Cart empty...</td></tr>

            <tr *ngFor="let product of products">
                <td>{{ product.title }}</td>
                <td class="no-display">{{ product.description }}</td>

                <td *ngIf="product.discount">
                    <div class="discount">{{ product.price - (product.price * (product.discount/100)) | currency }}</div>
                    <div class="price price-discount">{{ product.price | currency }}</div>
                </td>

                <td *ngIf="!product.discount">
                    <div class="price">{{ product.price | currency }}</div>
                </td>

                <td *ngIf="product.discount">{{ product.discount }}%</td>
                <td *ngIf="!product.discount">No discount</td>

                <td>
                    <button (click)="delete(product.id)" class="button">Delete</button>
                </td>
            </tr>

            <tr *ngIf="!emptyCart" class="footer">
                <td>Total:</td>
                <td></td>
                <td>{{ total | currency }}</td>
                <td class="no-display"></td>
                <td></td>
            </tr>            
        </tbody>
    </table>

    <div class="row-btns">
        <a routerLink="/">Back to shop</a>
        <a *ngIf="!emptyCart" routerLink="/checkout">Checkout</a>
    </div>

    <div class="message" [ngClass]="{'error-message' : message.error}" *ngIf="message.content.length > 0">
        {{ message.content }}
    </div>
    
</mat-card>
